### Here, we do all the imports

In [1]:
import pandas as pd
import numpy as np
import json # library to handle JSON files
import requests # library to handle requests
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
# import k-means from clustering stage
from sklearn.cluster import KMeans
# !conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

### Read the neighborhoods table from the wikepedia webpage and select the first table in the wikepedia and webpage

In [2]:
html = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
len(html)

df = html[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### We need to drop all the Boroughs that are "Not assigned". After this we check the number of rows where neighborhood is "Not assigned" and we find the count to be zero. So we are all good to go

In [7]:
# check number of total rows in the dataframe
df1 = df[df['Borough']!='Not assigned']
print('number of total rows: '+str(df1.shape[0]))
# check the number of 'Not assigned' rows
print('number of Unassigned Neighborhood rows: '+str(df1[df1['Neighbourhood']=='Not assigned'].shape[0]))

# read the csv file with latitudes and longitudes
df2 = pd.read_csv('http://cocl.us/Geospatial_data')
df2.head()

number of total rows: 103
number of Unassigned Neighborhood rows: 0

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476